<p id="notice"><%= notice %></p>

<h1>Admin Card Assignments</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Expires at</th>
      <th>User</th>
      <th>Card</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @card_assignments.each do |card_assignment| %>
      <tr>
        <td><%= card_assignment.expires_at %></td>
        <td><%= card_assignment.user.username %></td>
        <td><%= card_assignment.card.food_name %></td>
        <td><%= link_to 'Show', [:admin, card_assignment] %></td>
        <td><%= link_to 'Edit', edit_admin_card_assignment_path(card_assignment) %></td>
        <td><%= link_to 'Destroy', [:admin, card_assignment], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Admin Card Assignment', new_admin_card_assignment_path %>
