<h1>Admin Home</h1>

<section class='Home'>
  <p><%= link_to 'See All Users', admin_users_path %></p>
  <p><%= link_to 'See All Cards', admin_cards_path %></p>
  <p><%= link_to 'Add a New Card', new_admin_card_path %></p>
  <p><%= link_to 'See All Card Assignments', admin_card_assignments_path %></p>
  <p><%= link_to 'Add a New Card Assignment', new_admin_card_assignment_path %></p>
</section>
