<h1> All Admin Cards </h1>
<table class="table table-borderless">
  <thead>
    <tr>
      <th>food_name</th>
      <th>klass</th>
      <th>energy</th>
      <th>physical_resistance_debuff</th>
      <th>health</th>
      <th>accuracy</th>
      <th>energy_debuff</th>
      <th>strength</th>
      <th>accuracy_buff</th>
      <th>health_buff</th>
      <th>defense</th>
      <th>attack_buff</th>
      <th>cleanse</th>
      <th>created_at</th>
      <th>updated_at </th>
      <th>upc</th>
    </tr>
  </thead>
  <tbody>
    <% @cards.each do |card| %>
      <tr>
        <td><%=card.food_name%></td>
        <td><%=card.klass%></td>
        <td>card.energy</td>
        <td><%=card.physical_resistance_debuff%></td>
        <td><%=card.health%></td>
        <td><%=card.accuracy%></td>
        <td><%=card.energy_debuff%></td>
        <td><%=card.strength%></td>
        <td><%=card.accuracy_buff%></td>
        <td><%=card.health_buff%></td>
        <td><%=card.defense%></td>
        <td><%=card.attack_buff%></td>
        <td><%=card.cleanse%></td>
        <td><%=card.created_at%></td>
        <td><%=card.updated_at%></td>
        <td><%=card.upc%></td>
      </tr>
    <% end %>
  </tbody>
</table>
