<!DOCTYPE html>
<html>
  <head>
    <title>FoodFight</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default">
  <div class="container-fluid">
    <ul class="nav navbar-nav">
      <li><a href="/admin/home"><i class="fa fa-home fa-1x" aria-hidden="true"></i></a></li>
      <li><%= link_to "Show All Cards", admin_cards_path %></li>
      <li><%= link_to 'View Users', admin_users_path %></li>
      <li><%= link_to 'Logout', sessions_path(id: current_user.id), method: :delete %></li>
    </ul>
  </div>
</nav>
    <%= yield %>
  </body>
</html>
